{% extends "layout.html" %} {% block content %}

<h1 class="text-center">{{ title }}</h1>

<br />

<p class="text-center">
    This project is a client server implementation of the connect 4 game. This project was completed as a final project for a full stack web development class taught at Porland State University. The project was completed as a two person team of Brent McManus
    and Nick Robinson.
</p>

<h1 class="text-center">Stack:</h1>
<br />
<img src="../static/content/jquery.png" style="width: 500px;height: 200px">
<br>
<br />
<img src="../static/content/Bootstrap.jpg" style="width: 500px;height: 200px">
<br>
<br />
<img src="../static/content/django.png" style="width: 500px;height: 200px">
<br>
<br />
<img src="../static/content/pylogo.png" style="width: 500px;height: 200px">
<br> {% endblock %}