{% extends "layout.html" %}

{% block content %}

<h1 class="text-center">{{ title }}.</h1>
<h3 class="text-center">{{ message }}</h3>

<br />

<h4>Object of the Game</h4>
<p>
    Be th first player to get four of your colored chckers in a row.  This can be achieved
    horizontally, vertically or diagonally.
</p>

<br />

<h4>Play</h4>
<ol>
    <li>On your turn, click any of the columns that have an empty slot available.</li>
    <li>Play alternates until one player gets 4 checkers in a row or there are no more moves available.</li>
</ol>

{% endblock %}
