{% extends "layout.html" %}

{% block content %}

<h1 class="text-center">Welcome to Connect 4</h1>

<br />
<img src="../static/content/gamepic.jpg">
<br>

<form class="text-center" action='/newgame/' method="post">{% csrf_token %}
    <input type='submit' class="button3" name="New Game" value='New Game'/>
</form>

<br />

<div class="row">
    <div class="col-md-12">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
