<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/content/site.css">
    <style type="text/css">
        .navbar {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top bg-primary mb-4.5 justify-content-between">

        <a class="navbar-brand" href="/">Connect 4</a>
        <div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/howtoplay/">How To Play</a></li>
                <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/newgame/">Play!</a></li>
            </ul>
        </div>

    </nav>
    <div class="container">

        <div class="container body-content"></div>
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>{{ year }} - Connect 4 Django Application</p>
        </footer>
    </div>
    {% block scripts %}{% endblock %}

</body>

</html>