{% extends "layout.html" %} {% block content %}

<h2 class="text-center">{{ title }}</h2>
<h3 class="text-center">{{ message }}</h3>

<br />
<img src="../static/content/obama-curry.jpg" class="indeximg">
<br>


<form action='/twoplayer/' class="text-center" method="post">
    {% csrf_token %}
    <input type='submit' class="btn btn-primary" value='Random AI' />
    <input type='submit' class="btn btn-primary" value='Greedy AI' />
    <input type='submit' class="btn btn-primary" value='Perfect AI' />
    <input type='submit' class="btn btn-primary" value='2 Player' />
</form>

{% endblock %}