{% extends "app/layout.html" %}

{% block content %}

<head>
    <title>Connect 4</title>
    <link rel="stylesheet" href="../../static/app/content/site.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <h2 class="text-center">{{ title }}.</h2>
    <table id="board" align="center">
        <tbody>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
            <tr>
                <td class="col0"></td>
                <td class="col1"></td>
                <td class="col2"></td>
                <td class="col3"></td>
                <td class="col4"></td>
                <td class="col5"></td>
                <td class="col6"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <button value="New Game" onClick="window.location.reload();">New Game</button>
</body>
<script src="main.js"></script>

{% end block %}